<div id="messages"></div>
<form onsubmit="return addMessage(this)">
    <input type="text" id="username" placeholder="Tu Nombre">
    <input type="text" id="texto" placeholder="Chatea">
    <input type="submit" value="Enviar">
</form>