<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link btn-white btn-outline-dark" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-white btn-outline-dark" href="/creacion_productos">Añadir Un Nuevo Producto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-white btn-outline-dark" href="/productos">Ver Lista de Productos</a>
      </li>
    </ul>
</nav>
<div class="p-1 m-2">
  <a class="p-1 btn btn-dark" href="/">Volver</a>
</div>