extends layout.pug

block content
        form.ui.celled.table.center.aligned(action='/' method='post')
        h1.ui Agregar Producto
        input.table.ui.celled(type='text' name='title' placeholder='Nombre')
        input.table.ui.celled(type='text' name='price' placeholder='Precio')
        input.table.ui.celled(type='text' name='thumbnail' placeholder='Foto URL')
        a.ui(class='button' type='submit' href='/') Enviar

        if id
                p Se creo el Producto con ID: #{id}
        a.ui(class='button' href='/productos') Ir a listado de productos

