extends layout.pug

block content
   table.ui.celled.table.center.aligned
    h1 List de Productos
    thead
        tr
        th Id
        th Nombre
        th Precio
        th Imagen URL
    tbody
    if productos
        each producto in productos
         tr
           td #{producto.id}
           td #{producto.title}
           td #{producto.price}
           td
            img.ui.mini.rounded.image(src=producto.thumbnail alt='alternatetext')
           br
    else
        p No hay productos para mostrar
    
    a.ui(class='button' href='/') Ir a creacion de productos
