<div class="main-block">
      <div class="left-part">
        <i class="fas fa-envelope"></i>
        <i class="fas fa-at"></i>
        <i class="fas fa-mail-bulk"></i>
        {{#if id}}
        <i class="fas">Se creo ID: {{id}}</i>;
        {{/if}}
      </div>
      <form action="/" method="post">
        <h1>Producto</h1>
        <div class="info">
          <input type="text" name="title" placeholder="Nombre">
          <input type="text" name="price" placeholder="Precio">
          <input type="text" name="thumbnail" placeholder="Foto URL">
        </div>
        <button type="submit" href="/">Enviar</button>
      </form>
      
      <button id="myButton">Lista de Productos</button>

      <script type="text/javascript">
          document.getElementById("myButton").onclick = function () {
              location.href = "/productos";
          };
      </script>
    </div>